.background-dotsLI {
  background-color: #eee
  color: #111
}

.spring{
    position: absolute;
    border-bottom: 2px solid rgba(175, 70, 211, 1);
    width: 30px;
    height: 30px;
    top: 50%;
    left: 60px !important;
    position: absolute;
    transform: rotateZ(-40deg);

}


.throbber {
    display: block;
    width: 14px;
    height: 14px;
    background:  rgba(175, 70, 211, 1);
    border-radius: 100%;
    box-shadow: 0 0 0 2px  rgba(175, 70, 211, 1);
    z-index: 3000;
    margin-top: -8px;
    position: absolute;
}

.throbber-inner {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    margin: -7px 0 0 -7px;
    width: 14px;
    height: 14px;
    border: 1px solid hsla(0%,0%,0%,.1);
    border-radius: 100%;
    box-shadow: 0 0 0 2px  rgba(175, 70, 211, .9);
    background: rgba(105, 50, 151, .9);
}
#list-stage .throbber{
  top: 50%;
  left: -8px;
}

#dot-outer{
  margin-top: 130px;
}

.first-throbber {
    top: 50%;
    right: 9px;
}

.top-throbber {
    top: 100%;
    left: 68px;
}
.second-throbber {
    top: 50%;
    right: 8px !important;
}
.catapult-throbber {
    top: 50%;
    left: 15% !important;
}
.catapult{
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -1px;
  height: 2px;
  background-color:  rgba(105, 50, 151, .9);

}
.mid-throbber {
    top: 50%;
    left: 68px !important;
}

.wheel-end-throbber {
    top: 50%;
    left: 50% !important;
}


.top-box {
  background-color: rgba(255,255,255,.8) !important;
  padding: 5px;
  border: 2px solid;
  border-color:  rgba(175, 70, 211, .9)!important;
  box-shadow: 0 10px 30px -12px rgba(250, 250, 250, 0.50), 0 4px 25px 0px rgba(250, 250, 250, 0.16), 0 8px 10px -5px rgba(250, 250, 250, 0.25) !important;
}






.step3{
    text-align: center;
    transition: all 0.25s;
    position: relative;
    padding: 0.5em;
    height: 120px !important;
}
.step4{
    text-align: center;
    transition: all 0.25s;
    position: relative;
    padding: 0.5em;
    height: 280px !important;
    border-left: 2px solid rgb(175, 70, 211);
}
.step2{
    text-align: center;
    transition: all 0.25s;
    position: relative;
    padding: 0.5em;
    border: 2px solid #0c1b5d;
    margin-right: 100px;
  }


.step{
    border-left: 2px solid rgb(175, 70, 211);
    margin: 12px;
    padding-left: 30px !important;
    flex-basis: 100%;
}
.description {
    text-align: left;
}
.animated-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color:  rgba(175, 70, 211, 1);
    position: absolute;
    left: 0;
    opacity: 0;
    z-index: -1

}
.animated-dot2 {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color:  rgba(175, 70, 211, 1);
    position: absolute;
    left: 2px;
    top: 2px;
    z-index: -1
}
.step{
    flex: 1 0 200px;
    text-align: center;
    transition: all 0.25s;
    position: relative;
    padding: 0.5em;
}


.workflow{
    position: relative;
}
